USE [master]
GO
/****** Object:  Database [C:\USERS\RODEL\DESKTOP\WIN-APP-FINANCIAL-TRACKER\SERVER_APP\SERVER_APP\APP_DATA\DATABASE1.MDF]    Script Date: 11.11.2025 18:25:33 ******/
CREATE DATABASE [C:\USERS\RODEL\DESKTOP\WIN-APP-FINANCIAL-TRACKER\SERVER_APP\SERVER_APP\APP_DATA\DATABASE1.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'C:\Users\Rodel\Desktop\win-app-financial-tracker\server_app\server_app\App_Data\Database1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'C:\Users\Rodel\Desktop\win-app-financial-tracker\server_app\server_app\App_Data\Database1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\RODEL\DESKTOP\WIN-APP-FINANCIAL-TRACKER\SERVER_APP\SERVER_APP\APP_DATA\DATABASE1.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\RODEL\DESKTOP\WIN-APP-FINANCIAL-TRACKER\SERVER_APP\SERVER_APP\APP_DATA\DATABASE1.MDF]
GO
/****** Object:  Table [dbo].[budget_rules]    Script Date: 11.11.2025 18:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budget_rules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[needs_ratio] [decimal](5, 4) NOT NULL,
	[wants_ratio] [decimal](5, 4) NOT NULL,
	[savings_ratio] [decimal](5, 4) NOT NULL,
	[is_default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 11.11.2025 18:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [text] NULL,
	[color] [varchar](7) NULL,
	[type] [nvarchar](10) NOT NULL,
	[is_predefined] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 11.11.2025 18:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[type] [nvarchar](10) NOT NULL,
	[category_id] [int] NULL,
	[transaction_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[budget_rules] ON 

INSERT [dbo].[budget_rules] ([id], [name], [start_date], [end_date], [needs_ratio], [wants_ratio], [savings_ratio], [is_default]) VALUES (2, N'Default Rule', CAST(N'2000-01-01' AS Date), NULL, CAST(0.5000 AS Decimal(5, 4)), CAST(0.3000 AS Decimal(5, 4)), CAST(0.2000 AS Decimal(5, 4)), 0)
SET IDENTITY_INSERT [dbo].[budget_rules] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [color], [type], [is_predefined]) VALUES (1, N'Rent', N'Monthly rent or mortgage payments.', N'#D32F2F', N'Needs', 1)
INSERT [dbo].[categories] ([id], [name], [description], [color], [type], [is_predefined]) VALUES (2, N'Groceries', N'Food and household supplies from supermarkets.', N'#388E3C', N'Needs', 1)
INSERT [dbo].[categories] ([id], [name], [description], [color], [type], [is_predefined]) VALUES (3, N'Utilities (Gas, Electric, Water)', N'Monthly bills like gas, electricity, water, and internet.', N'#06294b', N'Needs', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[transactions] ON 

INSERT [dbo].[transactions] ([id], [description], [amount], [type], [category_id], [transaction_date]) VALUES (1, N'Weekly shop at Lidl', CAST(-75.50 AS Decimal(10, 2)), N'Expense', 2, CAST(N'2025-01-05' AS Date))
INSERT [dbo].[transactions] ([id], [description], [amount], [type], [category_id], [transaction_date]) VALUES (2, N'Fresh vegetables from market', CAST(-25.00 AS Decimal(10, 2)), N'Expense', 2, CAST(N'2025-01-12' AS Date))
INSERT [dbo].[transactions] ([id], [description], [amount], [type], [category_id], [transaction_date]) VALUES (3, N'Restock pantry items', CAST(-90.00 AS Decimal(10, 2)), N'Expense', 2, CAST(N'2025-02-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[transactions] OFF
GO
ALTER TABLE [dbo].[budget_rules] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ('#CCCCCC') FOR [color]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((0)) FOR [is_predefined]
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD CHECK  (([type]='Income' OR [type]='Savings' OR [type]='Wants' OR [type]='Needs'))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([type]='Expense' OR [type]='Income'))
GO
USE [master]
GO
