# Visual Studio and C#
## User-specific files
*.suo
*.user
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bin/
obj/

## Visual Studio metadata
.vs/

## Packages
# (Optional: if you use NuGet packages.config)
packages/

# System files
Thumbs.db